<%- contentFor('section') %>
Home page

<%- contentFor('jumbotron') %>
<h1>Home page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo auctor velit. Pellentesque non imperdiet ipsum. In dictum est tincidunt purus semper, et mollis risus maximus. Aliquam non quam ut urna consectetur tempus sed a sem. Aliquam sit amet nibh fringilla, convallis enim at, ultricies massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam non dolor mauris. Suspendisse nec dui orci. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
<p>Sed posuere lectus sem, eget porta nisl condimentum ac. Suspendisse ut sapien vitae metus maximus dignissim sit amet vel lectus. Sed non tristique justo, in venenatis nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In faucibus ipsum purus, ac fermentum odio tempor ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi vel molestie tortor. Maecenas aliquam sit amet dolor vel tempor. Integer posuere orci vitae pulvinar dapibus. Donec nisl erat, ornare ac dui laoreet, sollicitudin finibus quam. Morbi et auctor lectus, a pharetra elit.</p>
